.comment-box {
  background-color: #6ba2aa;
  width: 50%;
  float: left;
  padding: 20px; }
  .comment-box .btn {
    background-color: #25616a;
    color: #fff;
    outline: 0 !important; }
  .comment-box .comment-list {
    background-color: #b3c1c5;
    padding-left: 20px; }
